h2 {
    text-align: center;
    margin: 2em auto;
    font-weight: bold;
}

.addBook {
    width: 75%;
    margin: auto;
}

textarea {
    width: 100%;
}

label {
    font-size: 1.2em;
}

input, select {
    max-height: 30px;
}

.btn {
    background-color: #142243;
    color: white;
    font-size: 1.2em;
    border: 3px solid #142243;
    min-height: 50px;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #f2dcb154;
    color: #142243;
    font-size: 1.2em;
    border: 3px solid #142243;
}

.formEntries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}