h2 {
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    font-size: 1.1em;
}

.verifyLogin {
    margin: 2em 30%;
    text-align: center;
}

.bookSection {
    margin: 4em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.bookPic {
    border: #142243 1px solid;
    box-shadow: -5px 5px 5px #142243b8;
}

.bookInfo {
    width: 60%;
    margin-left: 50px;
}

.btn {
    background-color: #142243;
    color: white;
    font-size: 1.2em;
    border: 3px solid #142243;
    min-height: 50px;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #f2dcb154;
    color: #142243;
    font-size: 1.2em;
    border: 3px solid #142243;
}

.bookRating {
    font-size: 3.5em;
}

.ratingIntro {
    margin: auto;
    text-align: center;
}

#ratingForm {
    margin: auto;
    text-align: center;
}

legend {
    margin: 30px auto;
}

.ratingRadio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    font-size: 1.2em;
}


.ratingForm {
    margin: 30px auto;
}

.nbOfRatings {
    font-size: 1.4em;
}

.submitRatingBtn {
    margin: 20px auto;
}

.hr {
    margin: 20px auto;
}

.donation {
    width: 50%;
    margin: auto;
}

#donorsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}


.list {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    margin: auto 15px;
}

.donationForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bookCondition, .donationComment {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 30px;
}

.donationIntro, .donationSubmit {
    margin: auto;
    text-align: center;
}

#map {
    height: 600px;
    width: 50%;
    min-width: 400px;
    border: 2px solid #142243;
    border-radius: 3%;
}

.donationCard {
    width: 100%;
    margin: auto;
    height: auto;
}

.donorPicture {
    width: 50%;
    min-width: 50%;
}

.donationCardHead {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.donationCardBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.card-info > a, a + button {
    display: block;
    text-align: center;
}

/* .donorsListBtn {
    margin: 2em;
    text-align: center;
} */

.commentsTitle {
    margin-bottom: 30px;
}

.noComment {
    text-align: center;
    width: 50%;
    margin: 0 auto 30px auto;
}

.commentIntro {
margin-bottom: 2em;
}

.commentForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    gap: 50px;
    margin-bottom: 2em;
}

.submitComment {
    margin: 1em auto;
}

.comment {
    margin: auto;
    text-align: center;
}

.comments {
    width: 100%;
}

.commentsCard {
    width: 40%;
    margin: auto;
    height: fit-content;
}

.commentsCardHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title {
    font-size: 1.5em;
}

.commentPicture {
    width: 30%;
    max-width: 200px;
}

.commentsCardInfo {
    width: 60%;
}

