h2 {
    text-align: center;
    margin: 2em auto;
}

.btn {
    background-color: #142243;
    color: white;
    font-size: 1.2em;
    border: 3px solid #142243;
}

.btn:hover {
    background-color: #f2dcb154;
    color: #142243;
    font-size: 1.2em;
    border: 3px solid #142243;
}

.createButton {
    margin-top: 5em;
}
