h2 {
    text-align: center;
    margin: 2em auto;
}

i {
    color: #142243;
}

p {
    font-size: 1.2em;
}

#profil {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
    margin: auto;
}

.infoProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionText {
    width: 50%;
    text-align: center;
    margin: 1em auto;
    line-height: 1.5em;
}

#buttonsProfile {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.btn{
    background-color: #142243;
    color: white;
    font-size: 1em;
    border: 3px solid #142243;
    margin-top: 1em;
}

.btn:hover {
    background-color: #f2dcb154;
    color: #142243;
    font-size: 1em;
    border: 3px solid #142243;
}