h2 {
    text-align: center;
    margin: 2em auto;
}

i {
    color: #142243;
}

p {
    font-size: 1.2em;
}

#profil {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
    margin: auto;
}

.profilPicture {
    width: 90%;
    max-width: 250px;
}

.infoProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonsProfile {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.btn{
    background-color: #142243;
    color: white;
    font-size: 1em;
    border: 3px solid #142243;
    margin-top: 1em;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #f2dcb154;
    color: #142243;
    font-size: 1em;
    border: 3px solid #142243;
}

.card {
    width: 75%;
    margin: auto;
}

.bookPicture {
    width: 100%;
}

.card-img {
    width: 35%;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}