body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    background-color: #f2dcb15d;
}

#logo {
    width: 35%;
    min-width: 250px;
    margin: auto;
}

/* h1, h2, h3 {
    font-family: 'Redressed', cursive;
} */

hr {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
} 

nav {
    margin: auto;
    font-size: 1.1em;
}

/* .navbar {
    --offset 
    position: fixed;
} */

.navbar-nav > li{
    margin-left: 60px;
    margin-right: 60px;
  }

header {
    display: flex;
    flex-direction: column;
}

#welcome {
    font-size: 1.1em;
    text-align: end;
    margin-right: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 70px auto 40px auto;
}

#logoFooter {
    width: 15%;
    min-width: 12em;
    margin: auto;
    margin-bottom: 0.5em;
}

.footerSentence {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    color: #142243
}

.iconsFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    margin-top: 2em;
    color: #142243;
}

.bi {
    color: #142243;
}

.top {
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    margin-right: 10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    left: 93%;
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    background: #142243;
    border-radius: 100px;
    white-space: nowrap;
}

.alert {
    width: 40%;
    text-align: center;
    margin: 1em auto;
}